{
displayStrings = (
"/_singleintegral.alt1.disp/_doubleStrokeIntegralcomponent.disp/doubleStrokeIntegral.alt1.disp",
"/_singleintegral.alt1.shorterlserifs/_singleintegral.alt1.shorterlserifs/_timesIntegralcomponent ⨘/timesIntegral.alt1/_singleintegral.alt1.shorterlserifs",
"/litalic-math.ss03",
"/arrowmark A⊹",
"-⊹",
"-⊹",
"➛",
"!ĳt⚠⋲⋺⊶⊷⊶⊎",
"⧈",
"⦜"
);
}
