{
displayStrings = (
"⏡",
"/_smart.bottomtortoiseshellbracket ⏡/bottomtortoiseshellbracket.s01/bottomtortoiseshellbracket.s02/bottomtortoiseshellbracket.s03/bottomtortoiseshellbracket.s04/bottomtortoiseshellbracket.s05/bottomtortoiseshellbracket.s06 ⏡",
"/widebarbelow.s1/counterclockwisecontourIntegral.disp/counterclockwisecontourIntegral.mid ⤹",
"/_smart.gradient 𝛁𝐀",
"𝜵𝑨",
"/x-fraktur.ss05.ssty1",
"/rbolditalic-math.alt1",
"/gradient.ssty1",
"/gradient.ssty2",
"/gradientbold-math.ssty1"
);
}
