{
displayStrings = (
"/_smart.whitesquarebracketleft-math ⟦/leftwhitesquarebracket-math.s02/_smart.whitesquarebracketleft-math/_smart.whitesquarebracketleft-math/leftwhitesquarebracket-math.s03/leftwhitesquarebracket-math.s04/leftwhitesquarebracket-math.s05/leftwhitesquarebracket-math.s06/leftwhitesquarebracket-math.s07/leftwhitesquarebracket-math.s08/leftwhitesquarebracket-math.s09/leftwhitesquarebracket-math.s01/leftwhitesquarebracket-math.s10/leftwhitesquarebracket-math.s11/leftwhitesquarebracket-math.s12",
"/_clockwiseintegralarrow.disp/counterclockwisecontourIntegral.disp",
"ℚ",
"𝔔",
"|𝔘|",
"|/_smart.f |/_smart.f 𝑓|𝑔|",
"ΦΨ",
" /fitalic-math.ssty1/fitalic-math.ssty2 𝝌",
" /Q-fraktur.ssty1",
"𝕼𝑓/fitalic-math.ssty1/fbolditalic-math.ssty1/fitalic-math.ssty2/fbold-math.ssty1/fbold-math.ssty2"
);
}
